*{
    box-sizing: border-box;
}

body{
    background-color: hsl(185, 75%, 39%);
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    /* background-image: url(../assets/img/bg-pattern-top.svg), url( ../assets/img/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -70% -50%, 70% 50%;
    background-size: 800px; */
}

.bg__top,
.bg__bottom{
    position: fixed;
    width: 400px;
}
.bg__top{
    left: -70%;
    top: -20%;
}

.bg__bottom{
    right: -70%;
    bottom: -20%;
}

@media screen and (min-width: 768px){
    .bg__top,
    .bg__bottom{
        width: 800px;
    }
    .bg__top{
        top: -70%;
        left: -15%;
    }
    .bg__bottom{
        right: -15%;
        bottom: -70%;
    }

}

.card{
    background-color: #fff;
    width: 315px;
    height: 350px;
    margin: 150px auto;
    border-radius: 15px;
    overflow: hidden;

    position: relative;
    z-index: 10;
}

@media screen and (min-width: 768px){
    .card{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
    }
}

.card__header{
    background-image: url(../assets/img/bg-pattern-card.svg);
    height: 120px;
    position: relative;
}

.card__image{
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%); /*centrar de esta manera ayuda que sin importar el tamaño del header siempre la imagen se quedara en su lugar */
    border: 5px solid #fff;
    border-radius: 50%;
}

.card__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    line-height: 1.5;
    /* background-color: red; */
}

.card__text{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.card__text--light{
    font-weight: 300;
    color: gray;
    font-size: 14px;
    padding-left: 5px;
}
.card__footer{
    height: 90px;
    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__number{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
}

.card__text--size{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}















